@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../static/photos/SVG/Asset\ 2.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: white;
}

.layout {
  border-radius: 100px;
  width: 40%;
  background: rgb(218, 209, 209);
  padding: 50px 100px;
  border-top: 10px solid #696e6e;
}

label,
input,
textarea {
  margin-top: 12px;
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

input {
  margin-bottom: 44px;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin-top: 12px;
}

span {
  font-size: 8pt;
}

em {
  color: #696e6e;
  font-weight: bold;
}

input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(218, 209, 209);
  padding-left: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #696e6e;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
button:hover {
  background: inherit;
  color: #696e6e;
  border-bottom: 2px solid #696e6e;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
  /* -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset; */
  transition: background-color 5000s ease-in-out 0s;
}
