@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: auto;
}
a.people {
  font-family: Roboto;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.card0 {
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1), 0 5px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 2em;
}

.card0 .card0-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 10px;
}

.title {
  display: inline;
  font-size: 13px;
}
.card0 header {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}

.card0 .meta {
  margin-bottom: -12px;
}

.card0 .chips {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.buttons {
  margin-top: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  margin-top: auto;
  border: none;
  outline: none;
  padding: 7px 16px;
  background-color: #f1f1f1;
  cursor: grab;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  background-color: #666;
  color: white;
}
.card0 .featured-image,
.card0 .featured-image1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.card-header,
.card-text {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.card-title {
  color: white;
  font-family: "Poppins", sans-serif;
}
.card-title:hover {
  text-decoration: underline;
  font-size: 32px;
}
.card .btn {
  color: #222;
  background-color: white;
}
.card {
  background-image: url("https://i.pinimg.com/originals/5d/ab/4d/5dab4d5e50156cb929c1b1946085bdde.jpg");
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .card {
    background-image: url("https://i.pinimg.com/originals/5d/ab/4d/5dab4d5e50156cb929c1b1946085bdde.jpg");
    background-size: cover;
    height: 240px;
  }
  .card0 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 279px;
    width: 80%;
    float: right;
    padding-left: 1em;
  }
  .card-title {
    font-size: 32px;
  }

  .card0 h3 {
    font-size: calc(100% + 1vw);
  }

  .card0 .featured-image {
    margin-top: 0.2em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    max-width: 50px;
    max-height: 50px;
  }
  .card0 .featured-image1 {
    margin-top: 0.2em;
    margin-right: 0.5em;
    max-width: 50px;
    max-height: 50px;
  }
  .title a,
  .meta {
    margin-top: 0.5em;
  }
  .card-title h5 {
    color: white;
    font-size: 40px;
    font-family: "Roboto";
  }

  .table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .page-title {
    font-size: 40px;
  }
}
.page-title {
  margin-top: 2em;
  color: #222;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}
.count {
  color: #222;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 1280px) {
  .card0 h3,
  .card0 h3 {
    font-size: 32px;
  }
}

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  color: #222;
  margin: 0.5em 0;
}

.pre-heading {
  font-size: 20px;
  font-weight: 500;
}
.card0 a {
  color: black;
}
.bar {
  float: right;
}

.meta {
  color: #555;
  font-size: 12px;
  text-transform: uppercase;
}

.author {
  text-transform: uppercase;
}

ul {
  display: block;
  margin: 0 auto;
  max-width: 1160px;
  padding: 30px;
}

a {
  text-decoration: none;
}

.chips {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

.chips::-webkit-scrollbar {
  display: none;
}

.chip {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  white-space: nowrap;
  color: white;
  background: #009dff;
  border-radius: 25px;
  margin-right: 8px;
  padding: 5px 12px;
  max-height: 32px;
}

.chip.large {
  text-transform: uppercase;
  color: black;
  border: 1px solid #e0e0e0;
  background: white;
  padding: 10px 15px;
  max-height: 44px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&display=swap");
.chip input {
  margin-bottom: 0 !important;
  height: 22px !important;
  background-color: transparent !important;
  padding: 3px 0 0 0 !important;
}

.chip input::-webkit-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chip input:-ms-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chip input::-ms-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chip input::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.chip {
  cursor: pointer;
}

a.chip:hover,
a.chip:visited,
a.chip:active {
  color: white;
}

a.chip.large:visited,
a.chip.large:hover,
a.chip.large:active {
  color: black;
}
/*# sourceMappingURL=class.css.map */
.title p span {
  font-weight: 600;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
