#cc{
    padding-left: 0rem!important;
}
.card{
    height:13.438rem!important;
    width:100%!important;
}
.container-fluid{
    padding-right: 0rem!important;
}
.col-md-11{
    width:90%!important;
}