.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }


  @import url('https://fonts.googleapis.com/css?family=Varela+Round');
  html, body {
      overflow-x: hidden;
      height: 100%;
  }
  body {
      background: #fff;
      padding: 0;
      margin: 0;
      font-family: 'Varela Round', sans-serif;
  }
  .header {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      box-shadow: none;
      position: fixed;
      height: 60px!important;
      overflow: hidden;
      z-index: 10;
  }
  .main {
      margin: 0 auto;
      display: block;
      height: 100%;
      margin-top: 60px;
  }
  .mainInner{
      display: table;
      height: 100%;
      width: 100%;
      text-align: center;
  }
  .mainInner div{
      display:table-cell;
      vertical-align: middle;
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 1.25px;
  }
  #sidebarMenu {
      height: 100%;
      position: fixed;
      left: 0;
      width: 250px;
      margin-top: 60px;
      transform: translateX(-250px);
      transition: transform 250ms ease-in-out;
      /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
  }
  .sidebarMenuInner{
      margin:0;
      padding:0;
      border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li{
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li span{
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.50);
  }
  .sidebarMenuInner li a{
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
      transform: translateX(0);
  }
  
  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }
  .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color:#000;
    }
  .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
  }
  .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }


  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3em;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background: #71a89e;
  box-sizing: border-box;
  border: 3px solid black;
  color: white;
  transition: 0.5s ease-in-out;
  background: #f9f9f9;
  color: #000;
  box-shadow: 5px 5px #71a89e, 7px 7px black;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

@media (min-width: 64rem) {
  /* 1024px */
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card:hover {
  transform: translateX(7px) translateY(7px);
  box-shadow: -5px -5px #71a89e, -7px -7px rgb(0, 0, 0);
}

.card-header img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}
h4 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 0.5em;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  margin-top: -2em;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  font-size: 0.7em;
  margin-top: -3.5em;
}
.user-info small {
  color: #545d7a;
}
