

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="../static/login.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    
    <body>
        <style>
            body {
                background-image: url(../static/photos/SVG/Asset\ 2.svg);
              height: 100%;
    
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            </style>
           <!-- <a href="/">
            <div class="navbar-brand " style="margin-top: 0.7rem; margin-left: 1.5rem;" href="/">Conference Room</div>
            </a> -->
               <div class="app" style="height: 203px; top: 30%;
               ">
    
                <div class="bg"></div>
        
                <form method="POST" action="/add_class_data">
                    <input type="text" id="class_code" name="class_code" placeholder="Class Code" required>
                    <button type="submit" style="background-color: #444040;" >Join class</button>
                </form>
        
        
                </div>
           
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    </body>
    
    </html>