<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/index2.css">
    <link rel="stylesheet" href="../../static/teacher/class_content.css">
    <link rel="stylesheet" href="static/teacher/teacher_main.css">
    <title>Conference Room </title>
</head>
<body>
    <nav style="border-bottom: 2px solid #d8dcdc; height: 3.9rem;">
        <div class="container-fluid row">
            <div style="display: flex;">
                <div class="col-md-11" style="display: flex;">
                    <div class="header"></div>
                    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                    <label for="openSidebarMenu" class="sidebarIconToggle" style="margin-top: 0.1rem;">
                        <div class="spinner diagonal part-1"></div>
                        <div class="spinner horizontal"></div>
                        <div class="spinner diagonal part-2"></div>
                    </label>
                    
                       
                    <div id="sidebarMenu" style="background-color: #696e6e;">
                        <ul class="sidebarMenuInner">
                            <li>Classes<span>To-Do</span></li>                            
                            <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
                                    target="_blank">YouTube</a></li>
                            <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="navbar-brand " style="margin-top: 0.7rem; margin-left: 1.5rem;" href="#">Conference Room
                    
                    </div>
                   
                </div>
                 
                <div class="col-md-1 " style=" display: flex;flex-direction: row-reverse;z-index: 100;">
                    <div class="dropdown"><img style="margin-top: 0.8rem; width:40px; border-radius: 50%;"
                            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        <div class="dropdown-content" ><a onclick="signOut()" href="/logout" style="color: #323335;">Log Out</a></div>      
                    </div>
                    <!--  -->
                    <div style="margin-top: 1.3rem;margin-right: 0.5rem;z-index: 100;"  ><a href="/add_class_content/{{ code }}"><img
                            src="https://img.icons8.com/ios/25/000000/plus--v2.png" /></a></div>
                </div>
                
            </div>
            
        </div>
        
    </nav>
    <div class="peop" style="width: 50px; margin-left: auto; margin-right: 4em;">
        <a  class="people" href="/show_students/{{ code }}">PEOPLE</a>
    </div>


    <ul>
    
        <div class="card">
            <div class="card-header">
                <p>Class Code:-{{ code }}</p>
              </div>
            <div class="card-body">
              <a href=""><h5 class="card-title">{{ details[0][0]|upper }}</h5></a>
              <!-- <p class="card-text">Meet Link</p> -->
              <a href="{{ details[0][1] }}" name="{{ details[0][1] }}"id="meet_link" class="btn btn-primary">Join Meet</a>
            </div>
          </div>
            
        </ul>

 

{% for info in data %}
    <ul>
    
        <li class="card0">
            
            <article class="card0-body">
                <header>
                    <img class="featured-image" src="https://findicons.com/files/icons/2813/flat_jewels/512/file.png" alt="">
                        <span class="pre-heading">Heading : {{ info[0]|capitalize }}</span>
                    
                    
                </header>
                <div class="title">
                    <a href="/teachAssign/{{ info[1]}}" class="title" >
                        <p style="margin-top: .5em;font-size: 20px ;font-style: italic;"> Content ID:- {{ info[1]|capitalize}} </p>
                    
                    </a>
                    </div> 
                    
                    <div class="title">
                        <a href="" class="title" >
                            <p style="margin-top: .5em;">       {{ info[2]|capitalize}} <br> </p>
                        
                        </a>
                    </div>
                    <div class="card-body" style="text-align: right; margin-top: .5em;">
                        <p class="meta">
                            <time class="updated" datetime="" itemprop="datePublished">Posted at: {{ info[3] }}</time>
                        </p>
                    </div>
                    
                
                <!-- <div class="chips">
                    <a class="chip">Manav</a>
                    <a class="chip">dekh</a>
                    <a class="chip">layi</a>
                </div> -->
            </article>
        </li>
            
        </ul>
        {% endfor %}

        <script>
            var val = document.getElementById("meet_link").name;
            if(val==""){
                document.getElementById("meet_link").style.visibility="hidden";
            }

        </script>


</body>
    </html>