<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" media="screen and (min-width: 360px) and (max-width: 550px)" href="static\teacher\s_teacher_main.css">
    <link rel="stylesheet" href="static\teacher\teacher_main.css">
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="1050801722055-btcvqar75jhdt6shnop5esohpj5avd5c.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Conference Room</title>
</head>

<body>
    <nav style="height: 3.9rem;">
        <div class="container-fluid row">
            <div style="display: flex;">
                <div class="col-md-11" style="display: flex;   z-index: 100;">
                    <div class="header"></div>
                    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                    <label for="openSidebarMenu" class="sidebarIconToggle" style="margin-top: 0.1rem;">
                        <div class="spinner diagonal part-1"></div>
                        <div class="spinner horizontal"></div>
                        <div class="spinner diagonal part-2"></div>
                    </label>
                    <div id="sidebarMenu" style="background-color: #696e6e;">
                        <ul class="sidebarMenuInner">
                            <li>Classes<span>To-Do</span></li>                            
                            <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
                                    target="_blank">YouTube</a></li>
                            <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>

                    <div class="navbar-brand " style="margin-top: 0.7rem; margin-left: 1.5rem;" href="#">Conference Room</div>
                </div>
                <div class="col-md-1 " style=" display: flex;flex-direction: row-reverse;z-index: 100;">
                    <div class="dropdown"><img style="margin-top: 0.8rem; width:40px; border-radius: 50%;"
                            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        <div class="dropdown-content"><a onclick="signOut()" href="/logout" style="color: #323335;">Log Out</a></div>      
                    </div>
                    <div style="margin-top: 1.3rem;margin-right: 0.5rem;z-index: 100;"  ><a href="/create_class"><img
                            src="https://img.icons8.com/ios/25/000000/plus--v2.png" /></a></div>
                </div>
            </div>
        </div>
    </nav>

    <style>
      body {
        background-image: url(../static/photos/SVG/Asset\ 2.svg);
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>




    
      
      
      




    <div id="cc" style="display: flex; flex-wrap: wrap; margin-left: 0rem;padding-left: 3rem; padding-top: 1rem;">
    {% for items in data %}
    <div  >
      <div class="card">
        <div class="card-header" style=" padding-top: 2em; padding-bottom: 1em;">
          <a class="tag " id="{{items}}" href="/class/{{ items[1] }}" >{{ items[0] }}</a>
          
          <div class="col-md-4" style="margin-top: 1em;"><span class="tag tag-teal" href="{{ items[2] }}">Meet</span></div>
        </div>
        <div class="card-body" style=" background: transparent">
          
        </div>
        

          <!-- <div class="user" style="margin-top: 4rem;">
            <div class="user-info">
            </div>
          </div> -->
      </div>
  
      </div>
        {% endfor %}
      </div>
      <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
    
        function onLoad() {
          gapi.load('auth2', function() {
            gapi.auth2.init();
          });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>

</html>

