@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
body {
  background-color: #fdfdfd;
  font-family: "Sora", sans-serif;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
}
.content {
  color: rgb(27, 24, 24);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 40px;
  margin-bottom: 3em;
}
.content h1 {
  font-family: "Archivo", sans-serif;
  color: #202020;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
}
.content span {
  color: #696e6e;
}
@media (min-width: 760px) {
  .content h1 {
    display: inline-block;
    font-size: 4em;
  }
}

.wrapper {
  margin-top: 12em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 300px;
  min-height: 300px;
  background: #696e6e;
  padding: 30px;
  box-sizing: border-box;
  color: #d8dcdc;
  margin: 20px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
}
.card img {
  border: 5px solid #d8dcdc;
  border-radius: 50%;
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #696e6e;
}
.card-title {
  text-transform: uppercase;
  color: #d8dcdc;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
  color: #d8dcdc;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn {
  color: #e6e6e6;
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #d8dcdc;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #02b875;
  background: #fff;
}

.card:last-child .card-btn:hover {
  color: #673ab7;
  background: #fff;
}
