@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
body {
  background-color: #fdfdfd;
  font-family: "Sora", sans-serif;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
}
.content {
  color: rgb(27, 24, 24);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 40px;
  margin-bottom: 3em;
}
.content h1 {
  font-family: "Archivo", sans-serif;
  color: #202020;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
}
.content span {
  color: #696e6e;
}
@media (min-width: 760px) {
  .content h1 {
    display: inline-block;
    font-size: 4em;
  }
}

<<<<<<< HEAD
@media (min-width: 64rem) {
  /* 1024px */
  .hero__illustration-image {
    width: 45rem; /* 500px */
  }
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__text {
    width: 31.25rem; /* 500px */
  }
}

.hero__heading {
  font-size: 1.875rem; /* 30px */
  font-weight: 400;
  line-height: 1.6;
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__heading {
    font-size: 2.6rem;
    font-weight: 700;
  }
}

.hero__description {
  font-size: 1.1875rem; /* 19px */
  line-height: 1.7;
}

.hero__cta {
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  padding: 0.9375rem 1.875rem; /* 15px - 30px */
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.hero__cta--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 2px 2px 0 var(--color-dark);
}

.hero__cta--primary:hover,
.hero__cta--primary:focus {
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: none;
}

.content {
  color: rgb(27, 24, 24);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 40px;
  margin-bottom: 3em;
}
.content h1 {
  font-family: "Archivo", sans-serif;
  color: #202020;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
}
.content span {
  color: #696e6e;
}
@media (min-width: 760px) {
  .content h1 {
    display: inline-block;
    font-size: 4em;
  }
}

=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
.wrapper {
  margin-top: 12em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
<<<<<<< HEAD
  border: 2px solid black;
=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
  max-width: 300px;
  min-height: 300px;
  background: #696e6e;
  padding: 30px;
  box-sizing: border-box;
  color: #d8dcdc;
  margin: 20px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
}
.card img {
  border: 5px solid #d8dcdc;
  border-radius: 50%;
<<<<<<< HEAD
  transition: 0.5s ease-in-out;
  box-shadow: 5px 4px 0 black;
}
.card:hover,
.card:focus,
.card:last-child:hover {
  background-color: rgb(245, 245, 245);
  color: black;
  box-shadow: none;
=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
<<<<<<< HEAD
  background: #696e6e;
<<<<<<< HEAD
  /* background: #71a89e; */
  background: #f9f9f9;
=======
  background: #71a89e;
>>>>>>> parent of 40e12e7 (changed the login/signin pages)
=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
}
.card-title {
  text-transform: uppercase;
<<<<<<< HEAD
  color: #d8dcdc;
  margin-top: 0;
<<<<<<< HEAD
  color: #1d1d1d;
  margin-top: 0.2em;
=======
  color: #ffffff;
  margin-top: 0;
>>>>>>> parent of 40e12e7 (changed the login/signin pages)
=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
<<<<<<< HEAD
  color: #d8dcdc;
<<<<<<< HEAD
  text-align: left;
  color: #1d1d1d;
=======
  color: #ffffff;
>>>>>>> parent of 40e12e7 (changed the login/signin pages)
=======
>>>>>>> parent of 3792259 (Merge branch 'main' of https://github.com/Conference-Room/conference-room into main)
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn {
  color: #e6e6e6;
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #d8dcdc;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #02b875;
  background: #fff;
}

.card:last-child .card-btn:hover {
  color: #673ab7;
  background: #fff;
}
