@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-lightGray: #f9f9f9;
  --color-dark: #22322f;
  --color-darkGray: #333333;
  --color-primary: #71a89e;
  --header-height: 7.5rem; /* 120px */
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-lightGray);
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
}
.body--noscroll {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark);
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Spacing Rules */
.container-pall {
  /* all */
  padding: 1.875rem 1.5625rem;
}

.hero {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 18.75rem) {
  /* 300px */
  .hero {
    text-align: center;
  }
}

@media (min-width: 48rem) {
  /* 768px */
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.hero__illustration-image {
  margin-left: auto;
  margin-right: auto;
  width: min(19.25rem, 100%); /* 308px - 100% */
  height: min(18.8125rem, 100%); /* 301px - 100% */
}

@media (min-width: 48rem) {
  /* 768px */
  .hero__illustration-image {
    width: 23.125rem; /* 370px */
    height: auto;
    margin-left: 3.125rem; /* 50px */
  }
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__illustration-image {
    width: 45rem; /* 500px */
  }
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__text {
    width: 31.25rem; /* 500px */
  }
}

.hero__heading {
  font-size: 1.875rem; /* 30px */
  font-weight: 400;
}
.hero__heading span {
  color: #1f7574;
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__heading {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
  }
}

.hero__description {
  font-size: 1.1875rem; /* 19px */
  line-height: 1.7;
}

.hero__cta {
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  padding: 0.9375rem 1.875rem; /* 15px - 30px */
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64rem) {
  /* 1024px */
  .hero__illustration-image {
    width: 45rem; /* 500px */
  }
}

@media (min-width: 64rem) {
  /* 1024px */
  .hero__text {
    width: 31.25rem; /* 500px */
  }
}

.hero__description {
  font-size: 1.1875rem; /* 19px */
  line-height: 1.7;
}

.hero__cta {
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  padding: 0.9375rem 1.875rem; /* 15px - 30px */
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.hero__cta--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 2px 2px 0 var(--color-dark);
}

.hero__cta--primary:hover,
.hero__cta--primary:focus {
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: none;
}

.wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.card {
  max-width: 300px;
  background: #71a89e;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  margin: 20px;
  transition: 0.5s ease-in-out;
  background: #f9f9f9;
  color: #000;
  margin: 20px;
  padding: 5px 30px;
  border: 3px solid black;
  display: flex;
  border-radius: 1.25px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px #71a89e, 7px 7px black;
  transition: all 0.25s;
}

.card:hover,
.card:focus,
.card:last-child:hover {
  transform: translateX(7px) translateY(7px);
  box-shadow: -5px -5px #71a89e, -7px -7px rgb(0, 0, 0);
}

.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #f9f9f9;
}
.card-title {
  text-transform: uppercase;
  color: #1d1d1d;
  margin-top: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
}
.card-content {
  text-align: left;
  color: #1d1d1d;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card:hover .card-content,
.card:hover .card-title {
  color: #000;
}

.card-btn {
  color: #e6e6e6;
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #d8dcdc;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #ffffff;
  background: #71a89e;
}

.card:last-child .card-btn:hover {
  color: #ffffff;
  background: #71a89e;
}
