<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/index2.css">
    <title>Conference Room</title>
</head>

<body>
    <nav style="height: 3.9rem;">
        <div class="container-fluid row">
            <div style="display: flex;">
                <div class="col-md-11" style="display: flex;">
                    <div class="header"></div>
                    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                    <label for="openSidebarMenu" class="sidebarIconToggle" style="margin-top: 0.1rem;">
                        <div class="spinner diagonal part-1"></div>
                        <div class="spinner horizontal"></div>
                        <div class="spinner diagonal part-2"></div>
                    </label>
                    <div id="sidebarMenu" style="background-color: #696e6e;">
                        <ul class="sidebarMenuInner">
                            <li>Classes<span>To-Do</span></li>                            <li><a href="https://vanila.io" target="_blank">Company</a></li>
                            <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg"
                                    target="_blank">YouTube</a></li>
                            <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>

                    <div class="navbar-brand " style="margin-top: 0.7rem; margin-left: 1.5rem;" href="#">Conference Room</div>
                </div>
                <div class="col-md-1" style=" display: flex;flex-direction: row-reverse;">
                    <div><img style="margin-top: 0.8rem; width:40px; border-radius: 50%;"
                            src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"></div>
                    <div style="margin-top: 1.3rem;margin-right: 0.5rem;"><img
                            src="https://img.icons8.com/ios/25/000000/plus--v2.png" /></div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero container container-pall">
        
        <style>
            body {
              background-image: url('../static/photos/bg.png');
              height: 100%;
    
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            </style>
            <div class="hero__image">
              
            </div>
          
            <div class="hero__text">
              <h1 class="hero__heading">Conference <span>Room</span></h1>
              <p class="hero__description">
                A <span>virtual classroom</span> connecting teachers and students.
              </p>
              <form method="post" action="/index" >
                <div class="wrapper" >
                    <div class="card">
            
                        <h3 class="card-title">Teacher</h3>
    
                            <p class="card-content">If you are a teacher Join here</p>
                            <button onclick="teach_fun()" type="submit" name="teacher" class="card-btn">Click Here</button>
                        </div>
                        <input id="who" name="who" type="hidden" value="">
                        <div class="card">
                            <h3 class="card-title">Student</h3>
                            <p class="card-content">If you are a teacher Join here</p>
                            <button onclick="stud_fun()" type="submit" name="student" class="card-btn">Click Here</button>
                            
                        </div>
                    </div>
                </div>    
                
            </div>
        
          </section>
    <script>
        function teach_fun() {
            document.getElementById("who").value='teacher';
        }
        function stud_fun() {
            document.getElementById("who").value='student';
        }

    </script>


</body>

</html>